html, body {
  /*margin: 0;
  padding: 0; */
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;  /* Full viewport height */
  margin: 0;
  /*background-color: rgb(241, 241, 241);*/
}
canvas {
  display: block;
  /*border: 1px solid black;*/
}